# Files
genotypeFile        : genotipo-AndigenaCCC-ClusterCall2023-ACGT.csv
phenotypeFile       : fenotipos-AndigenaCCC-ColorHCL.csv
genotypeFormat      : gwaspoly
mapFile             : NULL
nonModelOrganism    : 
numberOfChromosomes :

# GWAS model
ploidy              : 4
significanceLevel   : 0.05
correctionMethod    : Bonferroni     
gwasModel           : Full
geneAction          : dominant
R2                  : 0.9

# Quality control
filtering           : TRUE
MAF                 : 0.01
MIND                : 0.1
GENO                : 0.1
HWE                 : 1e-10 

# Tools
tools               : GWASpoly SHEsis GAPIT TASSEL
nBest               : 50
